<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<!--MongoDB-->
<properties>
    <entry key="urlDB">mongodb://root:root@localhost:27017/?authSource=admin&readPreference=primary&appname=MongoDB%20Compass&directConnection=true&ssl=false</entry>
    <entry key="dbName">Examen_AD_2EVA</entry>
</properties>